<RuleSet Name="Perlang StyleCop rules" ToolsVersion="15.0">
    <!--
      Stylecop defaults can be found here: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/rulesets/StyleCopAnalyzersDefault.ruleset
      -->
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">

        <Rule Id="SA1003" Action="None"/>       <!-- Symbols should be spaced correctly -->
        <Rule Id="SA1005" Action="None"/>       <!-- Single line comment should begin with a space -->
        <Rule Id="SA1009" Action="None"/>       <!-- Closing parenthesis should be spaced correctly -->
        <Rule Id="SA1101" Action="None"/>       <!-- Prefix local calls with this -->

        <!-- This one mostly makes sense, _but_ it can at the same time be useful to document the "else // condition-here". -->
        <Rule Id="SA1108" Action="None"/>       <!-- Block statements should not contain embedded comments -->

        <Rule Id="SA1111" Action="None"/>       <!-- Closing parenthesis should be on line of last parameter -->
        <Rule Id="SA1120" Action="None"/>       <!-- Comments should contain text -->
        <Rule Id="SA1121" Action="None"/>       <!-- Use built-in type alias -->

        <!-- TODO: Consider fixing this. Here are the docs: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1201.md -->
        <Rule Id="SA1201" Action="None"/>       <!-- Elements should appear in the correct order -->

        <!-- TODO: This should definitely be fixed. Here are the docs: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1202.md -->
        <Rule Id="SA1202" Action="None"/>       <!-- Elements should be ordered by access -->

        <!-- TODO: This should definitely be fixed. Here are the docs: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1204.md -->
        <Rule Id="SA1204" Action="None"/>       <!-- Static elements should appear before instance elements -->

        <Rule Id="SA1413" Action="None"/>       <!-- Use trailing comma in multi-line initializers -->
        <Rule Id="SA1512" Action="None"/>       <!-- Single-line comments should not be followed by blank line -->
        <Rule Id="SA1516" Action="None"/>       <!-- Elements should be separated by blank line -->

        <Rule Id="SA1600" Action="None"/>       <!-- Elements should be documented -->
        <Rule Id="SA1602" Action="None"/>       <!-- Enumeration items should be documented -->
        <Rule Id="SA1633" Action="None"/>       <!-- File should have header -->
    </Rules>

    <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
        <Rule Id="S125" Action="None"/>
        <Rule Id="S1134" Action="None"/>
        <Rule Id="S1135" Action="None"/>
        <Rule Id="S3260" Action="None"/>        <!-- Private classes or records which are not derived in the current assembly should be marked as 'sealed' -->
        <Rule Id="S3267" Action="None"/>        <!-- Loops should be simplified with "LINQ" expressions -->
        <Rule Id="S3376" Action="None"/>
        <Rule Id="S3925" Action="None"/>
    </Rules>
</RuleSet>
