/* main.css - CSS overrides go here */

body {
    font-size: 18px;
}

.sideaffix {
    font-size: 16px;
}

/* Makes the $ prefix for code blocks not be selectable, to make it easier to
  copy-paste the curl oneliner for installation from the "download" page. */
pre code.lang-shell span.hljs-meta {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
